* {
  background-color: #1e0745;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.ContenedorPcpal {
  color: blue;
}

.Logo {
  margin: 25px;
  width: 170px;
  height: 147px;
}

.Logo__Img {
  width: 170px;
}

.DatoSup {
  width: 100px;
  color: white;
}

.DatoSup_Celular {
  background-color: gray;
}

.DatoSup_Mail {
  background-color: gray;
}

.CajaCentral {
  background-color: black;
  border: solid white;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 800px;
}

.CajaCentral__Cabecera {
  font-size: 80px;
  color: burlywood;
  background-color: gray;
}

.CajaCentral__Subcabecera {
  font-size: 20px;
  color: white;
  background-color: gray;
}

.CajaCentral__FotoPcpal {
  background-color: gray;
  width: 300px;
}

.CajaCentral__FotoPcpal--Img {
  width: 300px;
}

.BotonContacto {
  background-color: gray;
}

.BotonSaberMas {
  background-color: gray;
}

.CajaRS {
  background-color: black;
}

.CajaRS__Fb {
  width: 60px;
  background-color: gray;
}

.CajaRS__Ig {
  width: 60px;
  background-color: gray;
}

.CajaRS__Yt {
  width: 60px;
  background-color: gray;
}

.CajaRS__Gh {
  width: 60px;
  background-color: gray;
}
